#gallery-container {
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
}

#names-container {
    list-style: none;
    width: 300px;
}

#image-container, #image {
    width: 500px;
    height: 700px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#image-name-input {
    width: 100%;
    font-size: 17px;
    border: none;
    text-align: center;
}

.p-10 {
    padding: 10px;
}

li[is-active] { /* for list of images */
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

li[is-active=true] {    /* for active image */
    border-radius: 3px;
    background-color: rgb(0, 0, 222);
    color: aliceblue;
}

.imagename {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.icon {
    width: 40px;
    aspect-ratio: 1;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}