#galleryContainer {
    /* why? width can be 100% and we can justify content */
    width: fit-content;
    display: flex;
    /* no need to set as, default value is row */
    flex-direction: row;
    margin: 40px auto 0 auto;
}

#namesContainer {
    list-style: none;
    /* how will this help us, width & max-width */
    width: 300px;
    max-width: 40%;
}

/* do not common out code by css properties, exa: #imageContainer's css is befined here at 3 different place */

#imageContainer {
    max-width: 60%;
}

#imageContainer, #image {
    width: 500px;
    aspect-ratio: 2/3;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#imageNameInput {
    width: 100%;
    font-size: 17px;
    border: none;
    text-align: center;
}


#namesContainer, #imageContainer {
    padding: 10px;
}

#namesContainer li {
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    display: flex;
    /* no need to set, as default value is row */
    flex-direction: row;
    align-items: center;
}

/* do not use classname like boolenas. it can be item-active */
.is-active {
    border-radius: 3px;
    background-color: rgb(0, 0, 222);
    color: aliceblue;
}

.imgName {  
    font: 15px arial;
    /* why? */
    width: -webkit-fill-available;
}


.icon {
    width: 40px;
    aspect-ratio: 1;
    padding-right: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}